extends layout
block content
    .container
        .row
            .col-md-6
                form(method='post' action='/mahasiswa/create')
                    .form-group
                        label(for='nama') Nama
                        input#nama.form-control(type='text', name="nama" )
                    .form-group
                        label(for='nim') NIM
                        input#nim.form-control(type='number' name="nim" )
                    .form-group
                        label(for='email') Email
                        input#email.form-control(type='email' name="email" )
                        small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
                    .form-group
                        label(for='prodi') Prodi
                        select#prodi.form-control(name="prodi" )
                            option(value='') Pilih Prodi
                            each value, i in prodi
                                option(value=value.name)=value.name
                    button.btn.btn-primary(type='submit') Submit