extends layout
block content
    .container
        .row
            .col 
                .jumbotron
                    h1.display-4 Hello!
                    p.lead
                        | Welcome to my simple web application! this app use for manage student data.                        
                    hr.my-4
                    p.my-0
                        | My web app using using Express.js as web application framework and Mysql as DBMS in back-end.
                    p
                        | In front-end, I'm use Pug Template Engine with Boostrap CSS framework as library for styling.
                    a.btn.btn-primary.btn-lg(href='/student' role='button') See more

                        